html,
body,
#root,
.display-center{
    height: 100%;
}

.display-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.bg_img {
    background-image: url("../css/backgroung_hive.png");
    background-size: cover;
}